@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Didact+Gothic&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded&display=swap');
@import "./reset.css";
@import "./variable.css";


.banner {
    padding-top: 15px;
    background-image: url("../assets/banner.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner nav ul {
    display: flex;
    gap: 40px;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-top: 197px;
    font-weight: 700;
    font-size: 62px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}

h1 span {
    color: var(--default-blue);
}


.header-navigation a {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.header-navigation a:hover {
    color: #2C79FF;
    font-weight: 700;
    transition: .2s;
}

.main-banner p {
    font-family: 'Abhaya Libre Medium', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #303030;
}

.quality {
    display: flex;
    gap: 19px;
    margin-top: 21px;
}

.quality div {
    display: flex;
    align-items: center;
    gap: 13px;
}

.main-banner button {
    margin-top: 42px;
    border: none;
    background: #2C79FF;
    width: 229px;
    height: 51px;
    color: white;
    border-radius: 13px;
    border-bottom: 5px solid #1D5CCA;
    cursor: pointer;
}

.burger-menu {
    display: none;
}

.sidebar {
    position: fixed;
    min-height: 100vh;
    background: #2C79FF;
    width: 280px;
    top: 0;
    transition: all 0.8s ease-in-out;
    right: -1000px;
}


.close-icon {
    font-size: 54px;
    color: white;
    position: absolute;
    right: 30px;
}


.services .container > div {
    display: flex;
    justify-content: space-between;
}

.services .service-form {
    padding: 15px 10px;
    border-radius: 18px;
    box-shadow: 8px 4px 4px 0px #00000040;
    border: 1px solid #EBEBEBED;
}

.service-form p {
    font-weight: 700;
    font-size: 23px;
    text-align: center;
}

.service-form span {
    text-align: center;
    display: block;
}

.service-inputs {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.service-inputs input {
    width: 229px;
    height: 51px;
    padding-left: 14px;
    border-radius: 13px;
    border: 1px solid #BFBFBF;
    background: #F5F5F5;
}

.service-form button {
    background: linear-gradient(0deg, #2C79FF, #2C79FF),
    linear-gradient(360deg, rgba(44, 121, 255, 0.27) -28.36%, rgba(7, 42, 105, 0) 50.75%);
    border-bottom: 5px solid #1D5CCA;
    width: 229px;
    height: 51px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
    border-radius: 13px;
    color: white;
    margin: 18px auto;
    display: block;
}


#service-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 7px;
    place-items: center;
}

.service-element {
    display: flex;
    align-items: center;
    gap: 15px;
}

.service-element div {
    width: 91px;
    height: 91px;
    background: #2C79FF;
    border-radius: 50%;
}

.service-element p {
    width: 300px;
}

.works h3 {
    font-weight: 700;
    font-size: 33px;
    line-height: 38px;
    text-align: center;
}

.works .filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.works .filter button {
    background: transparent;
    border: none;
    font-weight: 700;
}

.works-data {
    margin-top: 34px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 52px;
    grid-row-gap: 52px;
}

.works img {
    width: 377px;
    height: auto;
    aspect-ratio: 377 / 260;
    max-width: 100%;
    object-fit: cover;
    display: block;
}

.attendance h4 {
    text-align: center;
    font-weight: 700;
    font-size: 33px;
}


@media screen and (max-width: 1280px) {
    .service-element div {
        width: 60px;
        height: 60px;
    }

    .service-element p {
        font-size: 14px;
        width: 200px;
    }

}

@media screen  and (max-width: 1024px) {
    header nav {
        display: none !important;
    }

    .main-banner h1 {
        font-size: 48px;
    }

    .burger-menu {
        display: flex !important;
        flex-direction: column;
        width: 30px;
        gap: 8px;
    }

    .burger-menu span {
        background: #2C79FF;
        height: 1.4px;
        display: block;
    }

    .sidebar.active {
        transition: all 0.8s ease-in-out;
        right: 0px !important;
    }

    .sidebar .sidebar-links {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .sidebar .sidebar-links a {
        color: white;
        font-weight: 600;
    }

    .services .container div {
        flex-direction: column;
    }

    #service-list {
        place-items: center stretch;
    }
}


@media screen and (max-width: 640px) {

    .main-banner h1 {
        font-size: 32px;
    }

    .banner {
        background-image: url("../assets/mobile-banner.png");
        background-position: center;
    }

    .main-banner p {
        font-size: 12px;
    }

    .quality {
        font-size: 9px;
    }

    .quality img {
        width: 26px;
        height: 26px;
    }

    .main-banner button {
        width: 167px;
        height: 37px;
    }
}